
/*Removing list styles changing font colors*/
* {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
.stars,
.restart, 
.timeCount,
.moves,
.menu {
	color: #008f95;
}

.heading {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .3em;
	font-size: 3em;
	text-align: center;
}

/* Applying background to the body */
body {
	background: #F2C94C;
	background: rgba(252,234,187,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 67%, rgba(252,205,77,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,234,187,1)), color-stop(67%, rgba(252,205,77,1)), color-stop(100%, rgba(252,205,77,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 67%, rgba(252,205,77,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 67%, rgba(252,205,77,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 67%, rgba(252,205,77,1) 100%);
	background: radial-gradient(ellipse at center, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 67%, rgba(252,205,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fccd4d', GradientType=1 );

}

/* Applying flex box to the page, making it responsive */

.container {
	max-width: 600px; 
	max-height: 100%; 
	margin: auto;
}

.flexContainer {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*Setting up the panel*/

.stars,
.moves,
.restart,
.timeCount {
	display: flex;
	font-size: 1.7em;
}

.card .fa {
	font-size: 2em;
}

.stars {
	width: 25%;
	justify-content: flex-start;
}

.moves {
	width: 25%;
	justify-content: flex-start;
}

.restart {
	width: 40%;
	justify-content: space-around;
	cursor: pointer;
}

.timeCount {
	width: 10%;
	justify-content: flex-start;
}

.menu {
	background: #E9B000;
	font-size: .8em;
	border-radius: 5px;
	margin-bottom: 0.313em;
	text-transform: uppercase;
	padding: .1em;
	border: none;
	cursor: pointer;

}

/*Setting up the game board*/

.board-container, 
.card {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.board-container {
	width: 100%;
	border-radius: 5px;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	background: #E44D26;  /* fallback for old browsers */
	background: -webkit-linear-gradient(#F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(#F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
	width: 7.5em;
	height: 7.5em;
	margin: .625em;
	border-radius: 5px;
	transition: .6s;
	transform-style: preserve-3d;
	position: relative;
	perspective: 1000;
}



/*Creating a flip animatio*/


.front {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	backface-visibility: hidden;
	background: rgba(252,234,187,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,234,187,1)), color-stop(67%, rgba(233,176,0,1)), color-stop(100%, rgba(233,176,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	background: radial-gradient(ellipse at center, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#e9b000', GradientType=1 );
}

.back {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background: rgba(252,234,187,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,234,187,1)), color-stop(67%, rgba(233,176,0,1)), color-stop(100%, rgba(233,176,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	background: radial-gradient(ellipse at center, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#e9b000', GradientType=1 );
}

.flip {
	transform: rotateY(180deg);
}







