
/*Removing list styles changing font colors*/
* {
	list-style: none;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .1em;
}

button {
	letter-spacing: .1em;
	color: #dbac1f;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	border: none;
	outline: none;
	background: -webkit-linear-gradient(#F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(#F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

h1,
h2,
.stars,
.restart, 
.timeCount,
.moves,
.menu {
	font-family: 'Amatic SC', cursive;
	font-weight: 900;
	color: #008f95;
}
.startHeader {
	font-size: 2.3em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;
	text-align: center;
	padding-top: 1em;
	text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

.heading {
	font-family: 'Amatic SC', cursive;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: .3em;
	font-size: 3.5em;
	text-align: center;
}

/* Applying background to the body */
body {
	background: #F2C94C;
	background: rgba(252,234,187,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 67%, rgba(252,205,77,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,234,187,1)), color-stop(67%, rgba(252,205,77,1)), color-stop(100%, rgba(252,205,77,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 67%, rgba(252,205,77,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 67%, rgba(252,205,77,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 67%, rgba(252,205,77,1) 100%);
	background: radial-gradient(ellipse at center, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 67%, rgba(252,205,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fccd4d', GradientType=1 );

}

/* Applying flex box to the page, making it responsive */

.container {
	max-width: 600px; 
	max-height: 100%; 
	margin: auto;
}

.flexContainer {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/* Setting up the menu panel */

.modalMain {
	display: flex;
	flex: 1;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	background: #F2C94C;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.startMenu {
	padding-top: 1.25em;
	padding-bottom: 1.25em;

}

.menuButtons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 7.5em;
}


.start, 
.highscore {
	font-family: 'Poor Story', cursive;
	display: block;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: .2em;
	font-weight: 600;
	margin: auto;
	height: 5em;
	width: 15em;
}

.highscore {
	margin-top: 2em
}

.start:hover,
.highscore:hover,
.goBack:hover {
	background: #E44D26;
}


/*Setting up the panel*/

.stars,
.moves,
.restart,
.timeCount,
.menu {
	display: flex;
	font-size: 2em;
	text-transform: none;
	letter-spacing: 0;
}

.card .fa {
	font-size: 2em;
}

.stars {
	width: 25%;
	justify-content: flex-start;
}

.moves {
	width: 25%;
	justify-content: flex-start;
}

.restart {
	width: 15%;
	justify-content: flex-end;
	cursor: pointer;
}

.timeCount {
	width: 20%;
	justify-content: flex-start;
}

.menu {
	background: #E9B000;
	margin-bottom: 0.313em;
	text-transform: uppercase;
	width: 15%;
	justify-content: center;
	box-shadow: none;
	padding: .2em;
	letter-spacing: 0;
	font-size: 1.3em;

}

/*Setting up the game board*/

.board-container, 
.card {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-ms-tap-highlight-color: transparent;
}

.board-container {
	position: relative;
	width: 100%;
	border-radius: 5px;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	background: #E44D26;  /* fallback for old browsers */
	background: -webkit-linear-gradient(#F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(#F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
	width: 7.5em;
	height: 7.5em;
	margin: .625em;
	border-radius: 5px;
	transition: .6s;
	-webkit-transition: .6s;
	-ms-transition: .6s;
	-moz-transition: .6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	position: relative;
	perspective: 1000;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;	
	background: rgba(252,234,187,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,234,187,1)), color-stop(67%, rgba(233,176,0,1)), color-stop(100%, rgba(233,176,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	background: radial-gradient(ellipse at center, rgba(252,234,187,1) 0%, rgba(233,176,0,1) 67%, rgba(233,176,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#e9b000', GradientType=1 );
}



/*Creating a flip animatio*/

.back {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	background: rgb(150,201,61);
	background: radial-gradient(circle, rgba(150,201,61,1) 21%, rgba(0,176,155,1) 100%);
}

.flip {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}



/* Winner modal styling*/

.winModal {
	text-align: center;
	align-items: center;
	padding-top: 2em;
}

.congratsHeader {
	font-family: 'Monoton', cursive;
	font-style: italic;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .1em;
	font-size: 2em;
	line-height: 1.5em;
}

.scoreTable {
	font-family: 'Amatic SC', cursive;
	color: #008f95;
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 15em;
}

.scoreTable p {
	font-weight: 800;
	letter-spacing: .1em;
	font-size: 1.5em;
}

.winButtons {
	width:80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.highWinner,
.highRestart {
	font-family: 'Poor Story', cursive;
	letter-spacing: .2em;
	font-weight: 600;
	display: block;
	text-transform: uppercase;
	font-size: 1.2em;
	height: 3em;
	width: 10em;
	margin: 0;
}

.highWinner:hover,
.highRestart:hover {
	background: #E44D26;
}

.scoreTable,
.scoreInput {
	width: 70%;
	margin: 1.5em 0 2.5em 0;
	font-size: 1.3em;
	line-height: 1.7em;
}

.scoreInput {
	color: #008f95;
	display: flex;
	justify-content: space-around;

}

.submit {
	font-family: 'Poor Story', cursive;
	letter-spacing: .2em;
	font-weight: 600;
	text-transform: uppercase;
	padding: .4em;
	transition: .6s;
	-webkit-transition: .6s;
	-ms-transition: .6s;
	-moz-transition: .6s;
}

.submitAnm {

}

.submit:hover {
	background: #E44D26;
}

.name {
	font-family: 'Poor Story', cursive;
	color: #008f95;
	letter-spacing: .2em;
	font-weight: 600;
	background: #f5d981;
	border: none;
	border-radius: 5px;
	height: 2em;
	outline: none;
}

.name::placeholder {
    color: #008f95;
    opacity: .5;
    padding-left: .3em;
} 

.name:focus::placeholder {
	opacity: 0;
}

/*Highscore modal*/

.goBack {
	display: flex;
	justify-content: center;
	width: 15%;
	padding: .5em;
	margin: .5em;
}

.scoreHeader {
	padding: 0;
	margin-bottom: 1em;
}


td {
	font-family: 'Poor Story', cursive;
	font-weight: 300;
	text-align: center;
	padding-bottom: .8em;
	font-style: italic;
	width: 10%;
}

th {
	font-family: 'Poor Story', cursive;
	font-weight: 900;
	font-size: 1.3em;
	text-align: center;
	width: 10%;
}



