/*Layout change up to 608px*/

@media screen and (max-width: 608px) and (min-width: 514px) {
	.board-container,
	.panel,
	.modalMain {
		width: 97vw;
	}

	.menuButtons {
		margin-top: 6em;
	}

	.winModal {
		padding-top: 1em;
	}
}

/*Layout changes below 580px*/


@media screen and (max-width: 580px) {
	*,
	.startHeader {
		letter-spacing: 0;
	}

	.heading {
		letter-spacing: .2em;
	}

	.start,
	.highscore {
		width: 60vw;
		height: 20vw;
	}
	.highWinner {
		height: 3em;
    	width: 10em;
	}
}

@media screen and (max-width: 580px) and (min-width: 514px) {

	.card,
	.back {
		width: 20vw;
		height: 20vw;
	}

	.menuButtons {
		margin-top: 4.5em;
	}

	.stars,
	.moves,
	.timeCount {
		font-size: 1.7em;
	}

	.menu {
		font-size: 1.2em;
	}

}

/*Layout changes below 514px*/

@media screen and (max-width: 514px) {
	.board-container,
	.panel,
	.modalMain {
		width: 99vw;
	}

	.boarder-container {
		padding-top: .3em;
		padding-bottom: .3em;
	}

	.highWinner {
		height: 3em;
    	width: 10em;
	}

	.card {
		width: 22vw;
		height: 22vw;
		margin: .3em;	
	}

	.scoreInput {
		margin: 0 0 2em 0;
		font-size: 1em;
	}

	.scoreTable {
		margin-bottom: 1em;
		font-size: 1.3em;
	}


	.submit {
		padding: .2em;
	}

	.button {
		letter-spacing: 0;
	}

	.highWinner, 
	.highRestart {
		font-size: 1em; 
	}

	.congratsHeader {
		line-height: 1.2em;
	}
}

@media screen and (max-width: 514px) and (min-width: 320px) {


	.menuButtons {
		margin-top: 3.5em;
	}

	.stars,
	.moves,
	.timeCount {
		font-size: 1.6em;
		justify-content: space-around;
	}

	.menu {
		font-size: 1.1em;
	}

	.stars {
		width: 15%;
	}

	.moves {
		width: 25%;

	}

	.restart {
		width: 15%;
		font-size: 1.7em;
	}

	.timeCount {
		width: 25%;
	}

	.menu {
		width: 20%;
		justify-content: space-around;
		padding: .2em 0 .2em 0;
	}

}


/*Layout changes below 415px*/

@media screen and (max-width: 415px) and (min-width: 320px) {
	.startHeader {
		font-size: 2em;
	}

	.heading {
		font-size: 2em;
	}

	.start,
	.highscore {
		width: 55vw;
		height: 17vw;
		font-size: 1.3em;
	}

	.highWinner {
		height: 3em;
    	width: 10em;
	}

	.card {
		width: 23vw;
		height: 23vw;
		margin: .2em;
	}

	.board-container {
		padding-top: .2em;
		padding-bottom: .2em;
	}

	.congratsHeader {
		font-size: 1.7em;
	}
	
	.scoreInput {
		margin: 0 0 1em 0;
		font-size: .9em;
	}

	.scoreTable {
		margin-bottom: .9em;
		font-size: 1em;
	}


	.submit {
		padding: .2em;
	}

	.button {
		letter-spacing: 0;
	}

	.highWinner, 
	.highRestart {
		font-size: .9em; 
	}

	.congratsHeader {
		line-height: 1em;
	}
}


/*Layout changes below 365px*/

@media screen and (max-width: 365px) {
	.card {
		width: 22vw;
		height: 22vw;
		margin: .2em;
	}

	.menu {
		font-size: 1em;
	}

	.stars {
		width: 15%;
		font-size: 1.2em;
	}

	.moves {
		width: 30%;
		font-size: 1.2em;
	}

	.restart {
		width: 10%;
		font-size: 1.6em;
	}

	.timeCount {
		width: 25%;
		font-size: 1.2em;
	}

	.highWinner, 
	.highRestart {
		font-size: .7em; 
	}

	.congratsHeader {
		font-size: 1.5em;
	}


}







